# NADAC EDA
Explore the NADAC found at https://data.medicaid.gov/api/1/datastore/query/ba0c3734-8012-549a-8f50-2ff389d0e0ef/0/download

In [1]:
import pandas as pd
import numpy as np

In [2]:
path = 'raw_data/nadac/nadac_pricing_2014.csv'
df = pd.read_csv(path)

### Examine the first 3 rows to get a feel for the data

In [3]:
df.head(3)

,ndc_description,ndc,nadac_per_unit,effective_date,pricing_unit,pharmacy_type_indicator,otc,explanation_code,classification_for_rate_setting,corresponding_generic_drug_nadac_per_unit,corresponding_generic_drug_effective_date,as_of_date
0,M-END DM SYRUP,12830081016,0.05440,10/24/2013,ML,C/I,Y,"4, 5",G,NaN,NaN,01/01/2014
1,PRAZOSIN 5 MG CAPSULE,93406905,0.43889,12/18/2013,EA,C/I,N,1,G,NaN,NaN,01/01/2014
2,TERAZOSIN 5 MG CAPSULE,60505011705,0.06319,12/18/2013,EA,C/I,N,1,G,NaN,NaN,01/01/2014

In [4]:
df.describe()

                ndc  nadac_per_unit  corresponding_generic_drug_nadac_per_unit
count  1.213307e+06    1.213307e+06                               74234.000000
mean   3.089467e+10    8.268764e+00                                   3.524454
std    2.828905e+10    1.669389e+02                                  18.910595
min    2.197590e+06    1.100000e-04                                   0.002890
25%    4.561405e+08    7.204000e-02                                   0.091780
50%    3.172205e+10    2.450400e-01                                   0.309800
75%    6.050501e+10    1.312610e+00                                   1.832720
max    9.920709e+10    1.486541e+04                                 313.407880

### Basic cleaning

In [5]:
# add the year
df['year']=2014

In [6]:
df_combined = df.groupby(['ndc','year','pricing_unit'], as_index=False).agg(
        nadac_per_unit=pd.NamedAgg(column="nadac_per_unit", aggfunc=lambda x: np.mean(x)),
)

In [7]:
df_combined.head(3)

       ndc  year pricing_unit  nadac_per_unit
0  2197590  2014           ML        4.267828
1  2300475  2014           EA       35.139170
2  2322730  2014           EA        7.579394